@import "tailwindcss";

@theme {
    --color-primary: #111111
}

body {
    @apply bg-primary;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}